*{
    margin:0;
    padding:0;
    border:none;
    font-family: Arial;
}

@font-face {
    font-family: digital;
    src: url(../font/digital-7.ttf);
}

#resetGame{
    padding:10px;
    background: red;
    color:white;
    border-radius:9px;
    font-size:1.1em;
}

#machine{
    text-align: center;
    background:black;
    border:10px solid grey;
    height:100vh;
    margin: auto;
}

#jackpotContainer{
    color:red;
    font-size:2em;
}


h4{
    margin: 0 !important;
}

h5{
    color:white;
}

li, h4>span, #controls>div>div>div, #jackpot, #message{
    font-family: digital;
}

#panelLeft, #panelRight{
    display: inline-block;
    vertical-align: top;
}

footer{
    text-align: center;
    margin-top:5%;
    min-height:50px;

}
footer button{
    margin-right:5%;
}
footer a, footer button{
    display: inline-block;
}


@media screen and (max-width: 800px){

    #machine{
        width:90%;
        height:200vh;
    }

}