#controls h2{
    text-align: center;
    color: white;
}

#controls>div, #controls>div>div *{
    display: inline-block;
}

#controls>div>div>div{
    font-size:3em;
    border:5px solid white;
    background: black;
    color:red;
}
/*Buttons*/

#controls button{
    font-size:1.3em;
    border-radius:9px;
    padding:9px;
    color:white;
    margin-right:45px;
    margin-top:2%;
    vertical-align: middle;
    height:63px;
}
#bet1, #betMax{
    background: #009dff;
}

#spin{
    background: #36f736;
}

#cancel{
    background: red;

}
#controls button:last-of-type{
    margin-right:0;
}

#controls button:hover{
    cursor:pointer;
}
/*& buttons*/

#message {
    color: red;
    font-size: 20px;
    min-height: 40px;
    max-height: 40px;
}
