#cashPrize{
    font-size:2em;
}

li{
    background: white;
    border:1px solid grey;
    border-bottom:none;
}

li:last-of-type{
    border-bottom:solid 1px grey;
}

li img{
    height:100%;
}

li{
    height: calc(100vh / 8.5);
}

#panelRight{
    padding-top: 2vh;
}
